@font-face {
    font-family: 'abraham_lincolnregular';
    src: url('../fonts/abraham-lincoln/abrahamlincoln-webfont.eot');
    src: url('../fonts/abraham-lincoln/abrahamlincoln-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/abraham-lincoln/abrahamlincoln-webfont.woff2') format('woff2'),
         url('../fonts/abraham-lincoln/abrahamlincoln-webfont.woff') format('woff'),
         url('../fonts/abraham-lincoln/abrahamlincoln-webfont.ttf') format('truetype'),
         url('../fonts/abraham-lincoln/abrahamlincoln-webfont.svg#abraham_lincolnregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'brusherregular';
    src: url('../fonts/brusher/brusher-regular-webfont.eot');
    src: url('../fonts/brusher/brusher-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/brusher/brusher-regular-webfont.woff2') format('woff2'),
         url('../fonts/brusher/brusher-regular-webfont.woff') format('woff'),
         url('../fonts/brusher/brusher-regular-webfont.ttf') format('truetype'),
         url('../fonts/brusher/brusher-regular-webfont.svg#brusherregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
	font-family: 'Raleway', sans-serif;
	text-align: center;
}

/* Nav */
body header nav.navbar-default {
	background-color: rgba(255, 237, 222, 0.9);
    border: 0 none;
}
body header nav.navbar-default .navbar-nav > li {
    height: 50px;
    padding: 15px 0;
    width: 33.33333%;
}
body header nav.navbar-default .navbar-nav > li > a {
    -moz-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
    display: inline-block;
    vertical-align: baseline;
    zoom: 1;
    *display: inline;
    *vertical-align: auto;
    color: #CB9540;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    letter-spacing: 0.5px;
    padding: 0;
    text-transform: uppercase;
}
body header nav.navbar-default .navbar-nav > li > a:hover, body header nav.navbar-default .navbar-nav > li > a:active, body header nav.navbar-default .navbar-nav > li > a:focus {
    color: #93B99B;
}
body header nav.navbar-default .navbar-nav > li.active > a, body header nav.navbar-default .navbar-nav > li.active > a:hover, body header nav.navbar-default .navbar-nav > li.active > a:focus, body header nav.navbar-default .navbar-nav > li.active > a:active {
    background: transparent;
    color: #93B99B;
}
body header nav.navbar-default .navbar-nav > li.active > a:hover {
    color: #7B997F;
}

/* Container */
body header nav.navbar-default > .container {
    position: relative;
    padding: 0;
    width: 100%;
}
/* Nav LEFT*/
body nav .nav-left {
	float: left;
    width: 40%;
}
@media only screen and (max-width: 850px) {
    body nav .nav-left {
        display: none;
    }
}
body nav .nav-left > li{
    float: right;
}

/* Logo */
body nav .container > .navbar-header {
	font-family: 'abraham_lincolnregular';
    width: 20%;
}
@media only screen and (max-width: 850px) {
    body nav .container > .navbar-header {
        width: 10%;
    }
}
@media only screen and (max-width: 850px) {
    body nav .container > .navbar-header {
        margin: 0;
        width: 100%;
    }
}
body nav .container > .navbar-header a.logo {
    color: #93B99B;
    display: block;
    font-size: 30px;
    height: 50px;
    line-height: 50px;
    margin: 0 auto;
    position: relative;
    width: 80px;
}
body nav .container > .navbar-header a.logo span {
    -moz-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
    left: 0;
    position: absolute;
    width: 80px;
}
body nav .container > .navbar-header a.logo:before {
    -moz-transition: margin 0.3s ease;
    -o-transition: margin 0.3s ease;
    -webkit-transition: margin 0.3s ease;
    transition: margin 0.3s ease;
    background: url(../images/banner.svg) no-repeat center top;
    content: "";
    height: 105px;
    left: 0;
    position: absolute;
    width: 80px;
}
body nav .container > .navbar-header a.logo:hover span {
	color: #CB9540;
	text-decoration: none;
}
body nav .container > .navbar-header a.logo:hover:before {
    margin-top: -20px;
}

/* Nav RIGHT */
body nav .nav-right {
	float: right;
    width: 40%;
}
@media only screen and (max-width: 850px) {
    body nav .nav-right {
        display: none;
    }
}

/* Buttons */
body .action-btn {
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    background-color: #7B997F;
    box-shadow: 6px 6px 0 rgba(236, 233, 220, 0.2);
    color: #ECE9DC;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;
    padding: 8px 20px;
    text-transform: uppercase;
}
body .action-btn:hover {
    background-color: #CB9540;
    box-shadow: 0 0 0 transparent;
    color: #ECE9DC;
    text-decoration: none;
}

 /* Sections */
body section {
    min-height: 800px;
	/*height: 100vh;*/
}

body section h1.section-heading {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: 'abraham_lincolnregular';
    font-size: 60px;
    text-transform: uppercase;
}

/* Hero */
body section#hero {
    /*height: 100vh;*/
    /*min-height: 0;*/
    /*overflow: hidden;*/
    background: #93B99B;
    color: #EBE2C4;
    padding: 150px 20px 0 20px;
    position: relative;
}
body section#hero hgroup h1.section-heading {
    background: url(../images/vitiylucas.svg) no-repeat center center;
    background-size: 100% 100%;
    display: block;
    height: 292px;
    margin: 0 auto;
    text-indent: -10000px;
    width: auto;
}
body section#hero hgroup h2 {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    color: #ECE9DC;
    font-family: 'abraham_lincolnregular';
    font-size: 60px;
    text-transform: uppercase;
}
body section#hero hgroup h3 {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 700;
    margin-top: 15px;
    text-transform: uppercase;
}
body section#hero .actions {
    margin-top: 40px;
}
body section#hero .actions button {
    border-radius: 0;
    margin-right: 12px;
}
body section#hero .actions button:last-child {
    margin-right: 0;
}
body a.arrow-down {
    -moz-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
    background: url(../images/arrow-down.svg) no-repeat center center;
    display: block;
    height: 38px;
    left: 50%;
    margin-left: -6px;
    position: absolute;
    text-indent: -10000px;
    width: 12px;
    bottom: 30px;
}
body a.arrow-down:hover {
    opacity: 0.5;
}

/* Quote */
body section#quote {
    background: #D9BF9D;
}
body section#quote h1 {
    background: url(../images/quote.svg) no-repeat center center;
    background-size: 100% 100%;
    display: block;
    height: 600px;
    margin: 100px auto 0 auto;
    text-indent: -10000px;
    width: auto;
}
body section#quote img.cupid-heart {
    margin-top: 20px;
}
body section#quote h2 {
    color: #ECE9DC;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    margin-top: 120px;
    text-transform: uppercase;
}
body section#quote p {
    color: #A5795B;
    font-size: 18px;
}

/* Ceremonia */
body section#ceremonia {
    background: #D9BF9D;
    padding-top: 100px;
    position: relative;
    min-height: 0;
}
body section#ceremonia h1.section-heading {
    color: #A5795B;
    margin: 0;
}
body section#ceremonia .block {
    font-size: 0;
    position: relative;
    margin: 0 auto;
    max-width: 700px;
}
body section#ceremonia .block:first-of-type {
    border-bottom: 1px solid rgba(165, 121, 91, 0.3);
    border-top: 1px solid rgba(165, 121, 91, 0.3);
    padding: 20px 0;
}
body section#ceremonia .block:nth-of-type(2) {
    margin-top: 20px;
}
body section#ceremonia .block .text-block {
    display: inline-block;
    vertical-align: baseline;
    zoom: 1;
    *display: inline;
    *vertical-align: auto;
    border-right: 1px solid rgba(165, 121, 91, 0.3);
    font-size: 12px;
    padding-right: 40px;
}
body section#ceremonia .block .text-block:last-of-type {
    border: 0 none;
    padding: 0 0 0 40px;
}
body section#ceremonia .block .text-block p {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    color: #A5795B;
    font-family: 'abraham_lincolnregular', sans-serif;
    font-size: 40px;
    margin: 0;
}
body section#ceremonia .block .text-block span {
    color: #EBE2C4;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
}
body section#ceremonia .block p {
    color: #A5795B;
    font-size: 16px;
}
body section#ceremonia .block strong {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    color: #EBE2C4;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
}
body section#ceremonia .block strong span {
    font-weight: 400;
}
body section#ceremonia .action-btn {
    display: inline-block;
    vertical-align: baseline;
    zoom: 1;
    *display: inline;
    *vertical-align: auto;
    background-color: #F06E5C;
    font-size: 12px;
    margin: 12px 0 170px 0;
    padding: 12px 25px;
}
@media only screen and (max-width: 500px) {
    body section#ceremonia .action-btn{
        width: 100%;
    }
}
body section#ceremonia .action-btn:hover {
    background-color: #DD5C4E;
}
body section#ceremonia .action-btn:before, body section#ceremonia .action-btn:after {
    background-color: rgba(165, 121, 91, 0.3);
    content: "";
    height: 1px;
    position: absolute;
    top: 32px;
    width: 38%;
}
body section#ceremonia .action-btn:before {
    left: 0;
}
body section#ceremonia .action-btn:after {
    right: 0;
}
@media only screen and (max-width: 680px) {
    body section#ceremonia .action-btn:before, body section#ceremonia .action-btn:after{
        width: 30%;
    }
}
@media only screen and (max-width: 500px) {
    body section#ceremonia .action-btn:before, body section#ceremonia .action-btn:after{
        display: none;
    }
}

/* RSVP */
body section#rsvp {
    background: #EBE2C4;
    min-height: 0;
    padding: 100px 0;
}
body section#rsvp > .container{
    background: #ECE9DC;
    float: none;
    padding: 50px 80px;
    position: relative;
}
@media only screen and (max-width: 768px) {
    body section#rsvp {
        padding: 0;
    }
    body section#rsvp > .container {
        padding: 50px 20px;
    }
}
body section#rsvp > .container:before, body section#rsvp > .container:after {
    background: url(../images/envelope-lines.svg) no-repeat -20px top;
    content: "";
    height: 8px;
    width: 100%;
    position: absolute;
    left: 0;
}
body section#rsvp > .container:before {
    top: 0;
}
body section#rsvp > .container:after {
    bottom: 0;
}
body section#rsvp h1.section-heading {
    color: #93B99B;
}
body section#rsvp h2.section-subheading {
    color: #BF967A;
    font-family: 'brusherregular';
    font-size: 36px;
}
body section#rsvp .radio-1, body section#rsvp .radio-2 {
    text-align: left;
}
/* Regalos */
body section#regalos {
    background: #E18C78;
}
/* Cómo llegar */
body section#como_llegar {
    background: #F8B264;
}
/* Countdown */
body section#countdown {
    background: #93B99B;
}
/* Galería */
body section#galeria {
    background: #A5795B;
}
/* Vitiylucas */
body section#vitiylucas {
    background: #EBE2C4;
}