@font-face {
    font-family: 'abraham_lincolnregular';
    src: url('../fonts/abraham-lincoln/abrahamlincoln-webfont.eot');
    src: url('../fonts/abraham-lincoln/abrahamlincoln-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/abraham-lincoln/abrahamlincoln-webfont.woff2') format('woff2'),
         url('../fonts/abraham-lincoln/abrahamlincoln-webfont.woff') format('woff'),
         url('../fonts/abraham-lincoln/abrahamlincoln-webfont.ttf') format('truetype'),
         url('../fonts/abraham-lincoln/abrahamlincoln-webfont.svg#abraham_lincolnregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'brusherregular';
    src: url('../fonts/brusher/brusher-regular-webfont.eot');
    src: url('../fonts/brusher/brusher-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/brusher/brusher-regular-webfont.woff2') format('woff2'),
         url('../fonts/brusher/brusher-regular-webfont.woff') format('woff'),
         url('../fonts/brusher/brusher-regular-webfont.ttf') format('truetype'),
         url('../fonts/brusher/brusher-regular-webfont.svg#brusherregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

/* Nav */
body header nav.navbar-default {
    background-color: rgba(255, 237, 222, 0.9);
    border: 0 none;
}
body header nav.navbar-default .navbar-nav > li {
    height: 50px;
    padding: 15px 0;
    width: 33.33333%;
}
body header nav.navbar-default .navbar-nav > li > a {
    -moz-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
    display: inline-block;
    vertical-align: baseline;
    zoom: 1;
    *display: inline;
    *vertical-align: auto;
    color: #CB9540;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    letter-spacing: 0.5px;
    padding: 0;
    text-transform: uppercase;
}
body header nav.navbar-default .navbar-nav > li > a:hover, body header nav.navbar-default .navbar-nav > li > a:active, body header nav.navbar-default .navbar-nav > li > a:focus {
    color: #93B99B;
}
body header nav.navbar-default .navbar-nav > li.active > a, body header nav.navbar-default .navbar-nav > li.active > a:hover, body header nav.navbar-default .navbar-nav > li.active > a:focus, body header nav.navbar-default .navbar-nav > li.active > a:active {
    background: transparent;
    color: #93B99B;
}
body header nav.navbar-default .navbar-nav > li.active > a:hover {
    color: #7B997F;
}

/* Container */
body header nav.navbar-default > .container {
    position: relative;
    padding: 0;
    width: 100%;
}
/* Nav LEFT*/
body nav .nav-left {
    float: left;
    width: 40%;
}
@media only screen and (max-width: 850px) {
    body nav .nav-left {
        display: none;
    }
}
body nav .nav-left > li{
    float: right;
}

/* Logo */
body nav .container > .navbar-header {
    font-family: 'abraham_lincolnregular';
    width: 20%;
}
@media only screen and (max-width: 850px) {
    body nav .container > .navbar-header {
        width: 10%;
    }
}
@media only screen and (max-width: 850px) {
    body nav .container > .navbar-header {
        margin: 0;
        width: 100%;
    }
}
body nav .container > .navbar-header a.logo {
    color: #93B99B;
    display: block;
    font-size: 30px;
    height: 50px;
    line-height: 50px;
    margin: 0 auto;
    position: relative;
    width: 80px;
}
body nav .container > .navbar-header a.logo span {
    -moz-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
    left: 0;
    position: absolute;
    width: 80px;
}
body nav .container > .navbar-header a.logo:before {
    -moz-transition: margin 0.3s ease;
    -o-transition: margin 0.3s ease;
    -webkit-transition: margin 0.3s ease;
    transition: margin 0.3s ease;
    background: url(../images/banner.svg) no-repeat center top;
    content: "";
    height: 105px;
    left: 0;
    position: absolute;
    width: 80px;
}
body nav .container > .navbar-header a.logo:hover span {
    color: #CB9540;
    text-decoration: none;
}
body nav .container > .navbar-header a.logo:hover:before {
    margin-top: -20px;
}

/* Nav RIGHT */
body nav .nav-right {
    float: right;
    width: 40%;
}
@media only screen and (max-width: 850px) {
    body nav .nav-right {
        display: none;
    }
}

/* Buttons */
body .action-btn {
    display: inline-block;
    vertical-align: baseline;
    zoom: 1;
    *display: inline;
    *vertical-align: auto;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    background-color: #7B997F;
    border-radius: 0;
    box-shadow: 6px 6px 0 rgba(236, 233, 220, 0.2);
    color: #ECE9DC;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;
    padding: 8px 20px;
    text-transform: uppercase;
}
body .action-btn:hover {
    background-color: #CB9540;
    box-shadow: 0 0 0 transparent;
    color: #ECE9DC;
    text-decoration: none;
}
body .action-btn:active, body .action-btn:focus {
    -webkit-appearance: none;
    color: #ECE9DC;
    outline: none;
    text-decoration: none;
}
body .action-btn.large{
    font-size: 22px;
    min-width: 280px;
    padding: 20px 40px;
}

/* Flowers */
img.flowers{
    position: absolute;
    z-index: 1000;
}
img.flowers.left{
    left: -1000px;
    bottom: -200px;
}
img.flowers.right{
    right: -1000px;
    bottom: -200px;
}
@media only screen and (max-width: 930px) {
    img.flowers {
        width: 50%;
        height: auto;
    }
}



/* Sections */
@media only screen and (max-width: 768px) {
    body section > .container {
        width: auto;
    }
}

/*  Heading */
body h1.section-heading {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: 'abraham_lincolnregular';
    font-size: 60px;
    text-transform: uppercase;
}
@media only screen and (max-width: 600px) {
    body h1.section-heading {
        font-size: 50px;
    }
}

/* Arrow Down */
body a.arrow-down {
    -moz-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
    background: url(../images/arrow-down.svg) no-repeat center center;
    display: block;
    height: 38px;
    left: 50%;
    margin-left: -6px;
    position: absolute;
    text-indent: -10000px;
    width: 12px;
    bottom: 30px;
}
body a.arrow-down:hover {
    opacity: 0.5;
}


/* Hamburger Icon */
.navbar-default .navbar-toggle {
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    border-radius: 2px;
    border: 0 none;
}
.navbar-default .navbar-toggle span{
    background-color: #93B99B !important;
}
.navbar-default .navbar-toggle:hover span, .navbar-default .navbar-toggle.pressed span{
    background-color: #EBE2C4 !important;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle.pressed {
    background: #93B99B;
}

@media only screen and (max-width: 850px) {
    body .navbar-default .navbar-toggle {
        display: block !important;
    }
}

/* Mobile Nav */
body ul.mobile-nav{
    border-top: 1px solid rgba(147, 185, 155, 0.5);
    box-shadow: 0 -1px 10px rgba(147, 185, 155, 0.8);
    display: none;
    margin-bottom: 0;
    padding: 70px 0 0 0;
}
body ul.mobile-nav li{
    border-bottom: 1px dotted rgba(147, 185, 155, 0.8);
    list-style: none;
    margin: 0;
    padding: 0;
}
body ul.mobile-nav li:first-child{
    border-top: 1px dotted rgba(147, 185, 155, 0.8);
}
body ul.mobile-nav li:last-child{
    border-bottom: 0 none;
    margin-bottom: 0;
}
body ul.mobile-nav li a{
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    color: #CB9540;
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    padding: 10px 0;
    text-transform: uppercase;
}
body ul.mobile-nav li a:hover, body ul.mobile-nav li a:active, body ul.mobile-nav li a:focus{
    background: rgba(147, 185, 155, 0.3);
    color: #7B997F;
    opacity: 0.8;
    text-decoration: none;
}
@media only screen and (min-width: 850px) {
    body ul.mobile-nav {
        display: none !important;
    }
}


/* Hero */
body section#hero {
    background: #93B99B url(../images/texture-2.png) repeat left top;
    color: #EBE2C4;
    min-height: 800px;
    overflow: hidden;
    padding: 150px 20px 0 20px;
    position: relative;
}
body section#hero hgroup h1.section-heading {
    background: url(../images/vitiylucas.svg) no-repeat center center;
    background-size: contain;
    display: block;
    height: 292px;
    margin: 0 auto;
    text-indent: -10000px;
    width: auto;
}
body section#hero hgroup h2 {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    color: #ECE9DC;
    font-family: 'abraham_lincolnregular';
    font-size: 60px;
    text-transform: uppercase;
}
body section#hero hgroup h3 {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 700;
    margin-top: 15px;
    text-transform: uppercase;
}
body section#hero .actions {
    margin-top: 40px;
}
body section#hero .actions a {
    margin-right: 12px;
}
body section#hero .actions a:last-child {
    margin-right: 0;
}
@media only screen and (max-width: 600px) {
    body section#hero {
        padding-top: 100px;
        min-height: 0;
    }
    body section#hero hgroup h1.section-heading{
        height: 200px;
    }
    body section#hero .actions {
        margin-bottom: 110px;
    }
}

/* Quote */
body section#quote {
    background: #D9BF9D url(../images/texture-2.png) repeat left top;
}
body section#quote h1 {
    background: url(../images/quote.svg) no-repeat center center;
    background-size: contain;
    display: block;
    height: 600px;
    margin: 100px auto 0 auto;
    text-indent: -10000px;
    width: auto;
}
body section#quote p {
    color: #A5795B;
    font-size: 18px;
}
body section#quote .cartoon-wrapper {
    font-size: 0;
    margin-top: 50px;
    width: 100%;
}
body section#quote .cartoon {
    height: 310px;
    width: 270px;
}
body section#quote .left .cartoon {
    background: url(../images/viti.svg) no-repeat center center;
}
body section#quote .right .cartoon {
    background: url(../images/luke.svg) no-repeat center center;
}
body section#quote .left, body section#quote .right, body section#quote .middle {
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    *display: inline;
    *vertical-align: auto;
}
body section#quote .left, body section#quote .right {
    width: 35%;
}
body section#quote .middle{
    width: 20%;
    margin: 0 5%;
}
body section#quote .middle img.cupid-heart {
    height: auto;
    margin-top: 20px;
    width: 100%;
}
body section#quote .right .cartoon{
    float: right;
}
body section#quote h2 {
    color: #ECE9DC;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    margin-top: 60px;
    text-transform: uppercase;
}
@media only screen and (max-width: 768px) {
    body section#quote .left .cartoon, body section#quote .right .cartoon {
        background-size: 100% auto;
    }
}
@media only screen and (max-width: 600px) {
    body section#quote .left .cartoon, body section#quote .right .cartoon {
        width: 100%;
    }
    body section#quote h1 {
        margin-top: 50px;
    }
    body section#quote .cartoon-wrapper {
        margin-bottom: 40px;
        margin-top: 0;
    }
    body section#quote h2 {
        margin-top: 0;
        font-size: 20px;
    }
}
@media only screen and (max-width: 320px) {
    body section#quote .left .cartoon, body section#quote .right .cartoon {
        height: 120px;
    }
    body section#quote h1 {
        height: 350px;
    }
}


/* Ceremonia */
body section#ceremonia {
    background: #D9BF9D url(../images/texture-2.png) repeat left top;
    padding-top: 60px;
    position: relative;
}
body section#ceremonia h1.section-heading {
    color: #A5795B;
    margin: 0;
}
body section#ceremonia .block {
    font-size: 0;
    position: relative;
    margin: 0 auto;
    max-width: 700px;
}
body section#ceremonia .block.fecha-y-horario {
    border-bottom: 1px solid rgba(165, 121, 91, 0.3);
    border-top: 1px solid rgba(165, 121, 91, 0.3);
    padding: 20px 0;
}
body section#ceremonia .block.lugar {
    margin-top: 20px;
}
body section#ceremonia .block .text-block {
    display: inline-block;
    vertical-align: baseline;
    zoom: 1;
    *display: inline;
    *vertical-align: auto;
    border-right: 1px solid rgba(165, 121, 91, 0.3);
    font-size: 12px;
    padding-right: 40px;
}
body section#ceremonia .block .text-block:last-of-type {
    border: 0 none;
    padding: 0 0 0 40px;
}
body section#ceremonia .block .text-block p {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    color: #A5795B;
    font-family: 'abraham_lincolnregular', sans-serif;
    font-size: 40px;
    margin: 0;
}
body section#ceremonia .block .text-block span {
    color: #EBE2C4;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
}
body section#ceremonia .block p {
    color: #A5795B;
    font-size: 16px;
}
body section#ceremonia .block strong {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    color: #EBE2C4;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
}
body section#ceremonia .block strong span {
    font-weight: 400;
}
@media only screen and (max-width: 600px) {
    body section#ceremonia {
        padding-top: 30px;
    }
    body section#ceremonia .block.fecha-y-horario .text-block:first-of-type {
        padding-right: 20px;
    }
    body section#ceremonia .block.fecha-y-horario .text-block:last-of-type {
        padding-left: 20px;
    }
    body section#ceremonia .block .text-block p {
        font-size: 30px;
    }
    body section#ceremonia .block .text-block span  {
        font-size: 16px;
    }
    body section#ceremonia .lugar p:first-child {
        line-height: 22px;
    }
}
body section#ceremonia .action-btn {
    display: inline-block;
    vertical-align: baseline;
    zoom: 1;
    *display: inline;
    *vertical-align: auto;
    background-color: #F06E5C;
    font-size: 12px;
    margin: 12px 0 120px 0;
    padding: 12px 25px;
}
@media only screen and (max-width: 500px) {
    body section#ceremonia .action-btn{
        width: 100%;
    }
}
body section#ceremonia .action-btn:hover {
    background-color: #DD5C4E;
}
body section#ceremonia .action-btn:before, body section#ceremonia .action-btn:after {
    background-color: rgba(165, 121, 91, 0.3);
    content: "";
    height: 1px;
    position: absolute;
    top: 32px;
    width: 38%;
}
body section#ceremonia .action-btn:before {
    left: 0;
}
body section#ceremonia .action-btn:after {
    right: 0;
}
@media only screen and (max-width: 680px) {
    body section#ceremonia .action-btn:before, body section#ceremonia .action-btn:after{
        width: 30%;
    }
}
@media only screen and (max-width: 500px) {
    body section#ceremonia .action-btn:before, body section#ceremonia .action-btn:after{
        display: none;
    }
}

/* RSVP */
body section#rsvp {
    background: #EBE2C4;
    color: #BF967A;
    padding: 100px 0;
}
body section#rsvp > .container{
    background: #ECE9DC;
    float: none;
    padding: 30px 80px;
    position: relative;
}
@media only screen and (max-width: 768px) {
    body section#rsvp {
        padding: 0;
    }
    body section#rsvp > .container {
        padding: 50px 20px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
    body section#rsvp .col-sm-offset-2{
        margin-left: auto;
    }
}
body section#rsvp > .container:before, body section#rsvp > .container:after {
    background: url(../images/envelope-lines.svg) no-repeat -20px top;
    content: "";
    height: 8px;
    width: 100%;
    position: absolute;
    left: 0;
}
body section#rsvp > .container:before {
    top: 0;
}
body section#rsvp > .container:after {
    bottom: 0;
}
body section#rsvp h1.section-heading {
    color: #93B99B;
}
body section#rsvp h2.section-subheading {
    color: #BF967A;
    font-family: 'brusherregular';
    font-size: 36px;
}
body section#rsvp .radio-1, body section#rsvp .radio-2 {
    font-size: 16px;
    text-align: left;
    margin: 15px 0 15px 0;
}
body section#rsvp .form-group input[type='text'], body section#rsvp .form-group input[type='email']{
    margin-bottom: 10px;
}
body section#rsvp .form-group input[type='text'], body section#rsvp .form-group input[type='email']{
    -moz-transition: border 0.3s ease;
    -o-transition: border 0.3s ease;
    -webkit-transition: border 0.3s ease;
    transition: border 0.3s ease;    
    border-radius: 0;
    border: 2px solid rgba(147, 185, 155, 0.4);
    box-shadow: 0 0 0 transparent;
    font-size: 14px;
    height: 100%;
    padding: 15px 10px;
}
body section#rsvp .form-group input[type='text']:focus, body section#rsvp .form-group input[type='email']:focus{
    border: 2px solid rgba(147, 185, 155, 0.8);
}
body section#rsvp .form-group p.help-block.text-danger{
    font-size: 12px;
    text-align: left;
}
body section#rsvp .form-group p.help-block.text-danger ul{
    margin: 0;
    padding: 0 0 0 10px;
}
body section#rsvp .form-group p.help-block.text-danger ul li{
    color: #F06E5C;
    list-style: none;
}
@media only screen and (max-width: 600px) {
    body section#rsvp .form-group.col-md-6, body section#rsvp .form-group.col-md-12{
        padding: 0px;
    }
}
body section#rsvp .action-btn{
    background-color: #93B99B;
    box-shadow: 6px 6px 0 rgba(191, 150, 122, 0.2);
    margin: 10px 0 20px 0;
}
body section#rsvp .action-btn:hover{
    background-color: #BF967A;
    box-shadow: 0 0 0 transparent;
}
body section#rsvp p small{
    color: #93B99B;
    font-size: 12px;
}


/* Regalos */
body section#regalos {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    background: #E18C78 url(../images/texture-1.png) repeat left top;
    color: #ECE9DC;
    font-size: 20px;
    padding: 100px 0;
}
body section#regalos img.rose {
    margin: 20px 0 35px 0;
}
body section#regalos .col-lg-12 > p strong{
    display: block;
    font-family: 'brusherregular';
    font-size: 34px;
    padding: 10px 0;
}
@media only screen and (max-width: 600px) {
    body section#regalos .col-lg-12 > p strong {
        line-height: 30px;
        padding: 20px 0;
    }
}
body section#regalos #quiero-ayudar{
    background-color: #93B99B;
    border: 4px solid transparent;
    margin-top: 30px;
}
body section#regalos #quiero-ayudar i{
    margin-left: 15px;
}
body section#regalos #quiero-ayudar:hover, body section#regalos #quiero-ayudar.pressed{
    background-color: #7B997F;
}
body section#regalos #quiero-ayudar.pressed{
    box-shadow: 0 0 0 transparent;
    border: 4px solid #67896A;
    cursor: default;
}
@media only screen and (max-width: 600px) {
    body section#regalos #quiero-ayudar {
        padding: 15px 10px;
    }
}
body section#regalos .datos-wrapper{
    display: none;
    font-size: 0;
}
body section#regalos .datos-wrapper p.agradecimientos{
    color: rgba(255, 255, 255, 0.7);
    font-size: 16px;
    margin: 30px 0 0 0;
}
body section#regalos .datos-wrapper p.agradecimientos a{
    -moz-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
    color: #EBE2C4;
    font-weight: 700;
}
body section#regalos .datos-wrapper p.agradecimientos a:hover{
    opacity: 0.7;
    text-decoration: none;
}
body section#regalos .datos{
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    *display: inline;
    *vertical-align: auto;
    border-right: 1px dotted rgba(255, 255, 255, 0.5);
    font-size: 14px;
    line-height: 18px;
    margin: 30px auto 0 auto;
    padding: 15px 20px;
    width: 40%;
}
body section#regalos .datos:nth-of-type(2){
    border-right: 0 none;
}
body section#regalos .datos h2{
    font-size: 16px;
    font-weight: 700;
    margin: 0 0 20px 0;
}
body section#regalos .datos p{
    margin: 0;
}
@media only screen and (max-width: 1024px) {
    body section#regalos .datos-wrapper .datos {
        border-right: 0 none;
        border-top: 1px dotted rgba(255, 255, 255, 0.5);
        display: block;
        max-width: 500px;
        padding: 25px 0;
        width: auto;
    }
    body section#regalos .datos-wrapper .datos:nth-of-type(2) {
        margin-top: 0;
        padding-bottom: 0;
    }
}
@media only screen and (max-width: 600px) {
    body section#regalos {
        padding: 50px 0;
    }
    body section#regalos .datos {
        font-size: 12px;
        line-height: 16px;
    }
}

/* Cómo llegar */
body section#como_llegar {
    background: #FAF6EB;
    color: #BF967A;
    position: relative;
}
body section#como_llegar #map  {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
@media only screen and (max-width: 992px) {
    body section#como_llegar #map {
        height: 300px;
        position: relative;
    }
}
body section#como_llegar .container .row > .direcciones  {
    background: rgba(236, 233, 220, 0.9);
    padding: 25px 40px;
    z-index: 1;
}
@media only screen and (max-width: 992px) {
    body section#como_llegar > .container {
        width: 100%;
    }
}
body section#como_llegar .container .row > .direcciones h1.section-heading {
    color: #7B997F;
}
body section#como_llegar .container .row > .direcciones i{
    color: #E18C78;
    font-size: 30px;
    margin-bottom: 15px;
}
body section#como_llegar .container .row > .direcciones p.direccion{
    font-size: 20px;
    line-height: 22px;
}
body section#como_llegar .container .row > .direcciones p.direccion strong{
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: block;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 5px;
}
body section#como_llegar .container .row > .direcciones p.direccion strong > span{
    font-weight: 400;
}
body section#como_llegar .container .row > .direcciones p.direccion strong + span{
    display: block;
    font-size: 14px;
    padding-bottom: 20px;
    border-bottom: 1px dotted #BF967A;
}
body section#como_llegar .container .row > .direcciones p.instruccion{
    padding-top: 20px;
}
body section#como_llegar .container .row > .direcciones ul.hoteles{
    font-size: 0;
    padding: 0;
}
body section#como_llegar .container .row > .direcciones ul.hoteles li{
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    *display: inline;
    *vertical-align: auto;
    list-style: none;
}
body section#como_llegar .container .row > .direcciones ul.hoteles li a{
    -moz-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
    display: block;
    font-size: 11px;
    text-indent: -10000px;
    margin: 10px;
}
body section#como_llegar .container .row > .direcciones ul.hoteles li a:hover{
    opacity: 0.5;
}
body section#como_llegar .container .row > .direcciones ul.hoteles li a#ibis{
    background: url(../images/ibis.svg) no-repeat center center;
    height: 52px;
    width: 52px;
}
body section#como_llegar .container .row > .direcciones ul.hoteles li a#camberland{
    background: url(../images/camberland.jpg) no-repeat center center;
    height: 34px;
    width: 210px;
}
body section#como_llegar .container .row > .direcciones ul.hoteles li a#howard-johnson{
    background: url(../images/howard-johnson.svg) no-repeat center center;
    height: 44px;
    width: 138px;
}
body section#como_llegar .container .row > .direcciones ul.hoteles li a#sheraton{
    background: url(../images/sheraton.svg) no-repeat center center;
    height: 59px;
    width: 91px;
}
body section#como_llegar .container .row > .direcciones ul.hoteles li a#rental-suites{
    background: url(../images/rental-suites.jpg) no-repeat center center;
    height: 90px;
    width: 100px;
}
body section#como_llegar .container .row > .direcciones ul.hoteles li a#neo-suites{
    background: url(../images/neo-suites.jpg) no-repeat center center;
    height: 68px;
    width: 115px;
}


/* Galería */
body section#galeria {
    background: #A5795B;
}
body section#galeria h1.section-heading{
    color: #ECE9DC;
}
body section#galeria .galeria-wrapper .fila{
    font-size: 0;
}
body section#galeria .galeria-wrapper .fila a{
    -moz-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    *display: inline;
    *vertical-align: auto;
    height: 250px;
    outline: none;
    overflow: hidden;
}
body section#galeria .galeria-wrapper .fila.impar a:nth-of-type(odd){
    width: 30%;
}
body section#galeria .galeria-wrapper .fila.impar a:nth-of-type(even){
    width: 20%;
}
body section#galeria .galeria-wrapper .fila.par a:nth-of-type(odd){
    width: 20%;
}
body section#galeria .galeria-wrapper .fila.par a:nth-of-type(even){
    width: 30%;
}
body section#galeria .galeria-wrapper .fila a:hover{
    opacity: 0.7;
}
body section#galeria .galeria-wrapper .fila a img{
    display: block;
    width: auto;
    height: 100%;
}
body section#galeria .galeria-wrapper .fila a#pic-1{
    background: url(../images/galeria/01.jpg) no-repeat center center;
    background-size: cover;
}
body section#galeria .galeria-wrapper .fila a#pic-2{
    background: url(../images/galeria/02.jpg) no-repeat center center;
    background-size: cover;
}
body section#galeria .galeria-wrapper .fila a#pic-3{
    background: url(../images/galeria/03.jpg) no-repeat center center;
    background-size: cover;
}
body section#galeria .galeria-wrapper .fila a#pic-4{
    background: url(../images/galeria/04.jpg) no-repeat center center;
    background-size: cover;
}
body section#galeria .galeria-wrapper .fila a#pic-5{
    background: url(../images/galeria/05.jpg) no-repeat center center;
    background-size: cover;
}
body section#galeria .galeria-wrapper .fila a#pic-6{
    background: url(../images/galeria/06.jpg) no-repeat center center;
    background-size: cover;
}
body section#galeria .galeria-wrapper .fila a#pic-7{
    background: url(../images/galeria/07.jpg) no-repeat center center;
    background-size: cover;
}
body section#galeria .galeria-wrapper .fila a#pic-8{
    background: url(../images/galeria/08.jpg) no-repeat center center;
    background-size: cover;
}
body section#galeria .galeria-wrapper .fila a#pic-9{
    background: url(../images/galeria/09.jpg) no-repeat center center;
    background-size: cover;
}
body section#galeria .galeria-wrapper .fila a#pic-10{
    background: url(../images/galeria/10.jpg) no-repeat center center;
    background-size: cover;
}
body section#galeria .galeria-wrapper .fila a#pic-11{
    background: url(../images/galeria/11.jpg) no-repeat center center;
    background-size: cover;
}
body section#galeria .galeria-wrapper .fila a#pic-12{
    background: url(../images/galeria/12.jpg) no-repeat center center;
    background-size: cover;
}
@media only screen and (max-width: 960px){
    body section#galeria .galeria-wrapper .fila a.box-1, body section#galeria .galeria-wrapper .fila a.box-4 {
        width: 60% !important;
    }
    body section#galeria .galeria-wrapper .fila a.box-2, body section#galeria .galeria-wrapper .fila a.box-3 {
        width: 40% !important;
    }
}



/* Countdown */
body section#countdown {
    background: #93B99B url(../images/texture-1.png) repeat left top;
    padding: 50px 0;
}
body section#countdown h1.section-heading{
    color: #ECE9DC;
    margin-top: 0;
}
body section#countdown img{
    margin: 30px 0 0 0;
}
@media only screen and (max-width: 600px) {
    body section#countdown .flip-clock-divider .flip-clock-label {
        font-size: 10px;
    }
}

/* Vitiylucas */
body footer {
    background: #EBE2C4;
    padding: 35px 0;
}
body footer h1.section-heading{
    color: #93B99B;
    font-family: 'brusherregular';
    text-transform: none;
}

body footer h2{
    color: #93B99B;
    font-family: 'abraham_lincolnregular';
    font-size: 30px;
    margin: 25px auto 0 auto;
    max-width: 150px;
    position: relative;
}
body footer h2:before, body footer h2:after{
    content: "";
    height: 22px;
    position: absolute;
    top: 3px;
    width: 34px;
}
body footer h2:before{
    background: url(../images/leaf-left.svg) no-repeat center center;
    left: 0;
}
body footer h2:after{
    background: url(../images/leaf-right.svg) no-repeat center center;
    right: 0;
}
body footer .copyright {
    margin-top: 30px;
}
body footer .copyright a {
    -moz-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
    color: #93B99B;
}
body footer .copyright a:hover {
    color: #7B997F;
    text-decoration: none;
}
body footer .copyright span{
    color: #A5795B;
}
body footer .copyright p small{
    color: #A5795B;
}
body footer .copyright p small i{
    color: #E18C78;
}

/* Magnific Popup Custom Styles */
body .mfp-arrow.mfp-arrow-left:before, body .mfp-arrow.mfp-arrow-right:before{
    border: 0 none !important;
}
body .mfp-arrow.mfp-arrow-left:after, body .mfp-arrow.mfp-arrow-right:after{
    border: 0 none !important;
    color: white;
    font-family:'fontAwesome';
    font-size: 30px;
    margin-left: 35px;
    top: 0;
}
body .mfp-arrow.mfp-arrow-left:after{
    content:"\f104";
}
body .mfp-arrow.mfp-arrow-right:after{
    content:"\f105";
}
@media only screen and (max-width: 600px) {
    body .mfp-arrow.mfp-arrow-left, body .mfp-arrow.mfp-arrow-right{
        width: 40px;
    }
    body .mfp-arrow.mfp-arrow-left:after, body .mfp-arrow.mfp-arrow-right:after{
        margin-left: 15px;
    }
}
@media only screen and (max-width: 1024px) {
    body .mfp-arrow.mfp-arrow-left, body .mfp-arrow.mfp-arrow-right{
        background: rgba(0, 0, 0, 0.9);
    }
}

