{{ "<!-- Ceremonia Section -->" | safeHTML }}
<section id="ceremonia" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="section-heading">{{ with .Site.Params.ceremonia.title }}{{ . }}{{ end }}</h1>
                <h2 class="section-subheading text-muted">{{ with .Site.Params.ceremonia.subtitle }}{{ . | markdownify }}{{ end }}</h2>
                <div class="block fecha-y-horario">
                    <div class="text-block">
                        <span>Sábado</span>
                        <p>30 de Enero</p>
                        <span>2016</span>
                    </div>
                    <div class="text-block">
                        <span>Empezando</span>
                        <p>a las 18:30hs</p>
                        <span>puntual</span>
                    </div>
                </div>
                <div class="block lugar">
                    <p>
                        <strong>
                            Club House - Campo Grande
                            <span>Club de Campo</span>
                        </strong>
                    </p>
                    <p>
                        Alborada 1629 Villa Rosa, Pilar, Buenos Aires, Argentina
                    </p>
                </div>
                <div class="block">
                    <a href="#map" class="page-scroll action-btn">Ver Mapa</a>
                </div>
            </div>
        </div>
        <a href="#rsvp" class="page-scroll arrow-down"></a>
    </div>
</section>
