{{ "<!-- Como llegar Section -->" | safeHTML }}
<section id="como_llegar">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="section-heading">{{ with .Site.Params.como_llegar.title }}{{ . }}{{ end }}</h1>
                <i class="fa fa-pin"></i>
                <p>
                    Club House
                    <br>
                    Campo Grande Club de Campo
                    <br>
                    <span>Alborada 1629 Villa Rosa, Pilar, Buenos Aires, Argentina</span>
                </p>
                <p>
                    Desde el ramal Pilar de Panamericana, 3 minutos luego de pasar el peaje subir a la derecha en el km. 45, tomar el camino asfaltado.
                </p>
                <h1 class="section-heading">{{ with .Site.Params.como_llegar.subtitle }}{{ . }}{{ end }}</h1>
                <ul>
                    <li>
                        <a href="">Ibis</a>
                    </li>
                    <li>
                        <a href="">Camberland Hotel</a>
                    </li>
                    <li>
                        <a href="">Howard Johnson</a>
                    </li>
                    <li>
                        <a href="">Sheraton - Hotels & Resorts</a>
                    </li>
                    <li>
                        <a href="">Rental Suites - Pilar</a>
                    </li>
                    <li>
                        <a href="">Neo Suites - Concord Pilar</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
