{{ "<!-- Como llegar Section -->" | safeHTML }}
<section id="como_llegar">
    <div class="container">
        <div class="row">
            <div class="col-md-5 text-center direcciones">
                <h1 class="section-heading">{{ with .Site.Params.como_llegar.title }}{{ . }}{{ end }}</h1>
                <i class="fa fa-map-marker"></i>
                <div class="opciones">
                    <div class="block">
                        <a href="" class="direccion active" id="opcionA">
                            <strong>
                                Opción A
                                <span>Por Pilar</span>
                            </strong>
                        </a>
                    </div>
                    <div class="block">
                        <a href="" class="direccion" id="opcionB">
                            <strong>
                                Opción B
                                <span>
                                    Por Ruta 9
                                    <br>
                                    (Acceso Norte ramal Escobar)
                                </span>
                            </strong>
                        </a>
                    </div>
                </div>
                <p class="instruccion">
                    Salir en la bajada del km 44.5, y tomar por calle Florida. Seguir esta calle, y en la única bifurcación que se presenta, girar a la derecha. Al terminar la calle se encuentra la entrada a dos barrios, tomar la de la izquierda hacia Campo Grande.
                </p>
                <h1 class="section-heading">{{ with .Site.Params.como_llegar.subtitle }}{{ . }}{{ end }}</h1>
                <ul class="hoteles">
                    <li>
                        <a href="http://www.ibis.com/es/hotel-8646-ibis-pilar/index.shtml" target="_blank" id="ibis">Ibis</a>
                    </li>
                    <li>
                        <a href="http://www.hotelcamberland.com/" target="_blank" id="camberland">Camberland Hotel</a>
                    </li>
                    <li>
                        <a href="http://www.hjpilar.com.ar/" target="_blank" id="howard-johnson">Howard Johnson</a>
                    </li>
                    <li>
                        <a href="http://www.sheraton-pilar.com/" target="_blank" id="sheraton">Sheraton - Hotels & Resorts</a>
                    </li>
                    <li>
                        <a href="http://www.rentalsuitespilar.com.ar/" target="_blank" id="rental-suites">Rental Suites - Pilar</a>
                    </li>
                    <li>
                        <a href="http://www.neosuites.com/" target="_blank" id="neo-suites">Neo Suites - Concord Pilar</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="map" id="map-escobar"></div>
    <div class="map" id="map-pilar"></div>
</section>
