{{ "<!-- Countdown -->" | safeHTML }}
<section id="countdown">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <h1 class="section-heading">{{ with .Site.Params.countdown.title }}{{ . }}{{ end }}</h1>
                <div class="your-clock"></div>
                <img class="rose" src="../images/countdown-ornament.svg">
            </div>
        </div>
    </div>
</section>
{{ "<!-- Galería Section -->" | safeHTML }}
