{{ "<!-- Footer section -->" | safeHTML }}
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <hgroup>
                    <h1 class="section-heading">{{ with .Site.Params.footer.title }}{{ . }}{{ end }}</h1>
                    <h2>V&L</h2>
                </hgroup>
            </div>
        </div>
        <div class="row copyright">
            <div class="col-lg-12 text-center">
                <a href="mailto:vitiylucas+secasan@gmail.com">vitiylucas+secasan@gmail.com</a>
                <p>
                    <small>©<script type="text/javascript">document.write(new Date().getFullYear());</script> Viti y Lucas. Todos los derechos reservados.</small>
                </p>
                <p>
                    <small>
                        Designed with
                        <i class="fa fa-heart"></i>
                        by
                        <a href="mailto:lauluppani@gmail.com">Lau Luppani.</a>
                    </small>
                </p>
            </div>
        </div>
    </div>
</footer>
