{{ "<!-- Galería Section -->" | safeHTML }}
<section id="galeria">
<!--     <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="section-heading">{{ with .Site.Params.galeria.title }}{{ . }}{{ end }}</h1>
                <h2 class="section-subheading text-muted">{{ with .Site.Params.galeria.subtitle }}{{ . }}{{ end }}</h2>
            </div>
        </div>
    </div> -->
	<div class="galeria-wrapper">
		<div class="fila impar">
			<a href="../images/galeria/01.jpg" class="box-1" id="pic-1">
			</a>
			<a href="../images/galeria/02.jpg" class="box-2" id="pic-2">
			</a>
			<a href="../images/galeria/03.jpg" class="box-3" id="pic-3">
			</a>
			<a href="../images/galeria/04.jpg" class="box-4" id="pic-4">
			</a>
		</div>
		<div class="fila par">
			<a href="../images/galeria/05.jpg" class="box-1" id="pic-5">
			</a>
			<a href="../images/galeria/06.jpg" class="box-2" id="pic-6">
			</a>
			<a href="../images/galeria/07.jpg" class="box-3" id="pic-7">
			</a>
			<a href="../images/galeria/08.jpg" class="box-4" id="pic-8">
			</a>
		</div>
		<div class="fila impar">
			<a href="../images/galeria/09.jpg" class="box-1" id="pic-9">
			</a>
			<a href="../images/galeria/10.jpg" class="box-2" id="pic-10">
			</a>
			<a href="../images/galeria/11.jpg" class="box-3" id="pic-11">
			</a>
			<a href="../images/galeria/12.jpg" class="box-4" id="pic-12">
			</a>
		</div>
	</div>    
</section>
