{{ "<!-- Hero -->" | safeHTML }}
<section id="hero">
    <div class="container">
    	<hgroup>
	        <h1 class="section-heading">{{ with .Site.Params.hero.title }}{{ . }}{{ end }}</h1>
	        <h2>{{ with .Site.Params.hero.subtitle }}{{ . }}{{ end }}</h2>
	        <h3>{{ with .Site.Params.hero.date }}{{ . }}{{ end }}</h3>
        </hgroup>
        <div class="actions">
	        <!-- <a href="#" class="btn btn-xl action-btn">{{ with .Site.Params.hero.buttonText1 }}{{ . }}{{ end }}</a> -->
	        <a href="#rsvp" class="btn btn-xl action-btn page-scroll">{{ with .Site.Params.hero.buttonText2 }}{{ . }}{{ end }}</a>
        </div>
        <a href="#quote" class="page-scroll arrow-down"></a>
    </div>
</section>
{{ "<!-- Quote Section -->" | safeHTML }}
