{{ "<!-- Quote -->" | safeHTML }}
<section id="quote">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="section-heading">Lo mejor de la vida no se planea, simplemente sucede.</h1>
                <img class="cupid-heart" src="">
                <h2 class="">Te invitamos a celebrar con nosotros</h2>
                <p>habrá cena, baile y mucho más...</p>
            </div>
        </div>
    </div>
</section>
{{ "<!-- Ceremonia Section -->" | safeHTML }}
