{{ "<!-- Regalos Section -->" | safeHTML }}
<section id="regalos" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="section-heading">{{ with .Site.Params.regalos.title }}{{ . }}{{ end }}</h1>
                <img src="" class="rose">
                <p>
                    Tres cosas no pueden faltar en nuestras vidas:
                    <strong>Salud, dinero y amor...</strong>
                    Por suerte estamos sanos y muy enamorados, así que podés ayudarnos con lo que nos falta!
                </p>
                <a href="">Quiero ayudar</a>
            </div>
        </div>
    </div>
</section>
