{{ "<!-- Regalos Section -->" | safeHTML }}
<section id="regalos" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="section-heading">{{ with .Site.Params.regalos.title }}{{ . }}{{ end }}</h1>
                <img class="rose" src="../images/rose.svg">
                <p>
                    Tres cosas no pueden faltar en nuestras vidas:
                    <strong>Salud, dinero y amor...</strong>
                    Por suerte estamos sanos y muy enamorados, así que podés ayudarnos con lo que nos falta!
                </p>
                <div class="datos-wrapper">
                    <div class="datos">
                        <h2>Banco Santander Rio</h2>
                        <p>
                            María Victoria Perusini - 
                            <strong>DNI</strong>
                            30786240
                        </p>
                        <p>
                            <strong>Número de Cuenta:</strong>
                            Cuenta Unica 091-422630/7
                        </p>
                        <p>
                            <strong>Número de CBU:</strong>
                            0720091588000042263072
                        </p>
                    </div>
                    <div class="datos">
                        <h2>Banco Citibank</h2>
                        <p>
                            Lucas Javier Luppani - 
                            <strong>DNI</strong>
                            30314471
                        </p>
                        <p>
                            <strong>Número de Cuenta:</strong>
                            5232183316
                        </p>
                        <p>
                            <strong>Número de CBU:</strong>
                            0167777100052321833166
                        </p>
                    </div>
                </div>
                <a href="" id="quiero-ayudar" class="action-btn large">Quiero ayudar</a>
            </div>
        </div>
    </div>
</section>
