<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
<head>
    {{ partial "head.html" . }}
</head>
    <body id="page-top" class="index">
        {{ partial "nav.html" . }}
        {{ partial "hero.html" . }}
        {{ partial "quote.html" . }}
        {{ partial "ceremonia.html" . }}
        {{ partial "rsvp.html" . }}
        {{ partial "regalos.html" . }}
        {{ partial "como_llegar.html" . }}
        {{ partial "countdown.html" . }}
        {{ partial "galeria.html" . }}
        {{ partial "footer.html" . }}
        <!-- {{ partial "modals.html" . }} -->
        {{ partial "js.html" . }}
    </body>
</html>
